#page {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 55px;
  background-color: #fff;
  color: #000000;
  padding: 15px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #6b6b6b, #919191);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
